
 
ASPNETCORE_ENVIRONMENT=Production
 
# Base de datos
ConnectionStrings__DefaultConnection=Host=<host>;Port=5432;Database=financecore;Username=<user>;Password=<password>
ConnectionStrings__HangfireConnection=Host=<host>;Port=5432;Database=financecore;Username=<user>;Password=<password>
ConnectionStrings__Redis=<host>:6379
 
# External API Keys
FinanceCore__ExchangeRates__ApiKey=<api_key>
 
# Internal AUTH 
Authentication__ApiKeys__0=<api_key_cliente_1>
Authentication__ApiKeys__1=<api_key_cliente_2>
 
# CORS 
Cors__AllowedOrigins__0=https://app.tudominio.com